@model OrderDetail

    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product</h3>
                <h3 class="text-white text-uppercase">@Model.ProductId</h3>
                <h3 class="text-white text-uppercase">@Model.Price</h3>
                <h3 class="text-white text-uppercase">@Model.Count</h3>

                </div>
            </div>
        </div>
        
     </div>


